<div class="container">
    <h1>Check Service Area</h1>
    <button type="button" class="btn btn-primary" ui-sref="home">Create Polygons</button>
    <!-- <div ng-if="containsLatLong">
        <h4><b>Name:</b>{{containsLatLong.name}}</h4>
        <div ng-repeat="c in containsLatLong.coordinates" style="text-align: center;">
            <span >Lat: {{c.lat}}</span>
            <span style="margin-left:2em;">Longitude: {{c.lng}}</span>      
            </div>
        </div>
    </div> -->
</div>